@model IEnumerable<PojisteniApp.Models.Pojisteni>

@{
    ViewData["Title"] = "Index";
}

<h1>Pojištění</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Vytvoř nové pojištění</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detaily</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Změnit</a> 
              
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
